<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <form action="/" method="get">
                <input type="text"name="user_input">
                <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form>
        </header>
        <div>
            {% if 
        </div>
    </body>
</html>