<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <form action="/" method="get">
                <input type="text"name="user_input" required>
                <button type="submit"><i class="fas fa-arrow-right"></i></button>
                <input type="radio" id="metric" name="units" value="metric" {% if units == "metric" or units is none %}checked{% endif %}>
                <label for="metric">Metric</label>
                <input type="radio" id="imperial" name="units" value="imperial" {% if units == "imperial" %}checked{% endif %}>
                <label for="imperial">Imperial</label>
            </form>
        </header>
        <div class="content">
            {{ message }}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>